*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 27px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.search-form {
  display: flex;
  gap: 40px;
  padding-inline-end: 5px;
}

.content__list {
  block-size: 300px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__details {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 19px;
}

.result__video-container {
  block-size: 386px;
  inline-size: 711px;
  position: relative;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-block-end: 5px;
}

.title {
  color: #FFF;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: #545050;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

.content__video-card-description {
  line-height: 90%; /* 16.2px */
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  gap: 7px;
  align-items: center;
}

.search-form__textfield {
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  border: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  min-inline-size: 225px;
  appearance: none;
  min-block-size: 27px;
}

.search-form__checkbox-list {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: transparent;
  outline-offset: 1px;
  outline: 1px solid #FFF;
  margin-inline-start: 2px;
}

.button {
  color: #FFF;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid currentColor;
  width: 194px;
  height: 34px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  inline-size: 100%;
}

.search-form__label:has(:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  outline-offset: 1px;
  outline: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
  margin: 2px;
}

.button:active {
  background-color: #545050;
  border: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}
